h1,
h2,
p,
a,
li {
  font-family: sans-serif;
  color: #444;
}

.main-header {
  text-align: center;
}

.dates-employer-location {
  font-size: 14px;
  font-style: italic;
  line-height: 10px;
}

.resume-body {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

.article-text {
  margin-left: 10px;
}

.footer {
  text-align: center;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  font-weight: bold;
  text-decoration: underline solid black;
}

a:active {
  color: black;
}

body {
  background-color: #0ff;
}
